* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

:root {
    --text-color: #FFF;
    --bg-url: url(../imagens/bg-color\ mobile.jpg);
    --stroke-color: rgba(255, 255, 255, 0.5);
    --surface-color: rgba(255, 255, 255, 0.1);
    --surface-color-hover: rgba(255, 255, 255, 0.5);
    --highligth-color: rgba(255, 255, 255, 0.2);
    --switch-bg-url: url(../imagens/moon.svg);
}
.ligth {
    --text-color: #000;
    --bg-url: url(../imagens/bg-color-ligth.jpg);
    --stroke-color: rgba(0, 0, 0, 0.5);
    --surface-color: rgba(255, 255, 255, 0.1);
    --surface-color-hover: rgba(0, 0, 0, 0.02);
    --highligth-color: rgba(0, 0, 0, 0.1);
    --switch-bg-url: url(../imagens/sun.svg);
} 

body {
    background: var(--bg-url) no-repeat top center/cover;
    height: 100vh;
}
body * {
    color: var(--text-color);
    font-family: 'Inter', sans-serif;
}
#container {
    width: 100%;
    max-width: 588px;
    margin: 56px auto 0px;  
    padding: 0px 24px;
}
/*Profile */
#profile {
    text-align: center;
    padding: 24px;
}
#profile img {
    width: 112px;
}
#profile p {
    font-weight: 500;
    line-height: 24px;
    margin-top: 8px;
}
/*Switch */
#switch {
    position: relative;
    width: 64px;
    margin: 4px auto;
}
#switch button {
    width: 32px;
    height: 32px;
    background: #fff var(--switch-bg-url) no-repeat center;
    border:none;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 1;
    animation: slide-back .4s forwards;
}
.ligth #switch button {
    animation: slide-in 0.4s forwards;
}
#switch span {
    display: block;
    width: 64px;
    height: 24px;
    background:var(--surface-color);
    border: 1px solid var(--stroke-color);
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    border-radius: 9999px;
}
/* links */
ul {
    display: flex;
    flex-direction: column;
    gap: 16px;
    list-style: none;
    padding: 24px 0px;
}
ul li a {
    background: var(--surface-color);
    border: 1px solid var(--stroke-color);
    border-radius: 7px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 24px;

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    text-decoration: none;
    font-weight: 500;

    transition: background 0.2s;
}
/* pseudo-selector */
ul li a:hover {
    background: var(--surface-color-hover);
    border: 1.5px solid var(--text-color);
}
/* social-links */
#social-links {
    display: flex;
    justify-content: center;
    padding: 24px 0px;
    font-size: 24px;
}
#social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 16px;
    transition: background 0.2s;
    border-radius: 50%;
}
#social-links a:hover {
    background:var(--highligth-color);
}
footer {
    padding: 24px 0px;
    font-size: 14px;
    text-align: center;
}
/*media querys*/
@media (min-width: 700px){
    :root {
        --bg-url: url(../imagens/bg-color-desktop.jpg);
    }
    .ligth {
        --bg-url: url(../imagens/bg-color-ligth-desktop.jpg);
    }
}
/*animations*/
@keyframes slide-in {
    from {
        left: 0;
    }
    to {
        left:50%
    }
}
@keyframes slide-back {
    from {
        left: 50%;
    }
    to {
        left: 0;
    }
}